<!-- # views/students/students.erb -->


<!-- Begin Title Content -->
<div class="page-title">
  <h2>Every Story Has Villains</h2>
  <h3>We're <%= @students.size %> people on a journey to learn to smell code.</h3>
</div>
<!-- End Title Content -->

<!-- Begin Student Index -->
<div id="random-full-width-content" class="this-div-is-just-a-helpful-container">
  <div class="section section-services student-index">
    <div class="section-title">
      <span>Flatiron School Class 002</span>
    </div>
  </div>

  <div class="section section-blog">
    <div class="home-blog clearfix">
      <ul>

        <% @students.each do |student| %>
          <li class="home-blog-post">
            <div class="blog-thumb">
              <img width="360" height="140" src="<%= student.img %>" class="attachment-blog-thumb wp-post-image" alt="">
            </div>

            <div class="blog-title">
              <div class="big-comment"><h3><a href="/students/<%= student.id %>"><%= student.name %></a></h3></div>
              <p class="home-blog-post-meta"><%= student.tagline %></p>
            </div>
            <div class="clear"></div>

            <div class="excerpt">
              <p><%= student.bio %></p>
            </div>
            <div class="clear"></div>
          </li>
        <% end %>

      </ul>
    </div>
  </div>
</div>
<!-- End Student Index -->