<!-- Begin Splash Image -->
<div class="top-page-title">

  <div>
    <img src="<%= @student.prof_pic %>" class="student_pic">
  </div>
</div>
<! -- End Splash Image -->

<!-- Begin Title Content -->
<div class="page-title">
  <h4 class="ib_main_header"><%= @student.name %></h4>
  <div class="social-icons">
    <a href="<%= @student.twitter %>"><i class="icon-twitter ib-social-icons"></i></a>
    <a href="<%= @student.linkedin %>"><i class="icon-linkedin-sign ib-social-icons"></i></a>
    <a href="<%= @student.github %>"><i class="icon-github ib-social-icons"></i></a>
    <a href="<%= @student.blog %>"><i class="icon-rss ib-social-icons"></i></a>
  </div>

  <div class="section section-testimonials-curriculum quote-div">
    <div id="testimonial-slider" class="flexslider">
      <ul class="testimonials slides">
        <li id="text-7" class="widget_text" style="list-style: none; display: list-item;">
          <div class="textwidget">
            <h3><%= @student.quote %></h3>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- End Title Content -->

<!-- Some Content on Full Width -->
<div id="random-full-width-content" class="this-div-is-just-a-helpful-container">
  <div id="scroll-about" class="section section-services">
    <div class="section-title">
      <span class="actual-title">About</span>
      <div class="go-to-top"><a href="#scroll-header">Go To Top</a></div>
    </div>

    <div class="services-wrap" id="equalize">

      <div id="ok-text-column-2" class="column ok-text-column" style="height: 204px;">
        <div class="services">
          <div class="services-title"><h3>Biography</h3></div>
          <div class="clear"></div>
          
          @student.prof_bio
          
        </div>
      </div>

      <div id="ok-text-column-3" class="column ok-text-column" style="height: 204px;">
        <div class="services">
          <div class="services-title"><h3>Education</h3></div>
          <div class="clear"></div>
            
          @student.education

        </div>
      </div>

      <div id="ok-text-column-4" class="column ok-text-column" style="height: 204px;">
        <div class="services">
          <div class="services-title"><h3>Work</h3></div>
          <div class="clear"></div>
            
          @student.work

        </div>
      </div>
    </div>

    <div id="random-full-width-content" class="this-div-is-just-a-helpful-container">
      <div class="section section-services">
        <div id="scroll-coder-cred" class="section-title">
          <span class="actual-title">Coder Cred</span>
          <div class="go-to-top"><a href="#scroll-header">Go To Top</a></div>
        </div>

        <div class="services-wrap section coder-cred" id="equalize">

          <div class="column fourth">
            <a href="<%= @student.github %>" target="_blank"><img src="http://static.001.students.flatironschool.com/images/github_eewang.png" alt="GitHub" width="130px"></a>
          </div>

          <div class="column fourth">
            <a href="http://teamtreehouse.com/gglin/" target="_blank"><img src="http://static.001.students.flatironschool.com/images/treehouse_eewang.png" alt="Treehouse" width="130px"></a>
          </div>

          <div class="column fourth">
            <a href="http://www.codeschool.com/users/gglin" target="_blank"><img src="http://static.001.students.flatironschool.com/images/codeschool_eewang.jpg" alt="Code School" width="130"></a>
          </div>

          <div class="column fourth">
            <a href="https://coderwall.com/gglin" target="_blank"><img src="http://static.001.students.flatironschool.com/images/coderwall_eewang.jpeg" alt="Coder Wall" width="130"></a>
          </div>
        </div>
        <! -- End Service -->
      </div>
      <! -- End Coder Cred -->
    </div>

    <div id="random-full-width-content" class="this-div-is-just-a-helpful-container">
      <div id="scroll-recently" class="section section-services">
        <div class="section-title">
          <span class="actual-title">Recently</span>
          <div class="go-to-top"><a href="#scroll-header">Go To Top</a></div>
        </div>

        <div class="services-wrap" id="equalize">
          <div id="ok-text-column-2" class="column ok-text-column" style="height: 204px;">
            <div class="services">
              <div class="services-title">
                <h3>Blog Posts</h3>
              </div>
              <div class="clear"></div>
              <p>
                Coming soon...
              </p>
            </div>
          </div>

          <div id="ok-text-column-3" class="column ok-text-column" style="height: 204px;">
            <div class="services">
              <div class="services-title"><h3>GitHub Projects</h3>
            </div>
            <div class="clear"></div>
            <p>
              Coming soon...
            </p>
          </div>
        </div>

        <div id="ok-text-column-4" class="column ok-text-column" style="height: 204px;">
          <div class="services">
            <div class="services-title">
              <h3>Tweets</h3>
            </div>
            <div class="clear"></div>
            <p>
              <a class="twitter-timeline" href="https://twitter.com/gglin" data-widget-id="344614781547868160" height="100" lang="EN" data-chrome="nofooter noborders transparent" >Tweets by INSERT ID</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </p>
          </div>
        </div>

      </div>
    </div>

    <div id="random-full-width-content" class="this-div-is-just-a-helpful-container">
      <div id="scroll-favorites" class="section section-services">
        <div class="section-title">
          <span class="actual-title">Favorite Sites</span>
          <div class="go-to-top"><a href="#scroll-header">Go To Top</a></div>
        </div>

        <div class="services-wrap" id="equalize">
          <div id="ok-text-column-2" class="column ok-text-column" style="height: 204px;">
            <div class="services">
              <div class="services-title">
                <h3>Site1</h3>
              </div>
              <div class="clear"></div>
              <p>
                <figure class="site-icon">
                  <a href="http://quora.com/" title="Quora icon"><img src="../img/quora.png" width="80" height="80" alt="Quora" align="left"></a>
                </figure>
                Awesome description of website!
              </p>
            </div>
          </div>

          <div id="ok-text-column-3" class="column ok-text-column" style="height: 204px;">
            <div class="services">
              <div class="services-title">
                <h3>Site2</h3>
              </div>
              <div class="clear"></div>
              <p>
                <figure class="site-icon">
                  <a href="#" title="Reddit icon"><img src="../img/reddit.jpg" width="80" height="80" alt="Reddit" align="left"></a>
                </figure>
                Awesome description of website!
              </p>
          </div>
        </div>

        <div id="ok-text-column-4" class="column ok-text-column" style="height: 204px;">
            <div class="services">
              <div class="services-title">
                <h3>Site3</h3>
              </div>
              <div class="clear"></div>
              <p>
                <figure class="site-icon">
                  <a href="http://seamlessweb.com/" title="Seamless icon"><img src="../img/seamless.jpg" width="80" height="80" alt="Seamless" align="left"></a>
                </figure>
                Awesome description of website!
              </p>
        </div>

      </div>
    </div>

  </div>

  <div class="clear"></div>
</div>